<!-- Profiles edit -->

<div class="col-sm-8 blog-main">
  <%= form_for @profile, html: {multipart: true} do |form| %>
    <% if @profile.errors.full_messages.any? %>
    <ul>
      <% @profile.errors.full_messages.each do |error_message| %>
      <li>
        <%= error_message %>
      </li>
      <br>
      <% end %>
    </ul>
    <% end %>
    <p>
      Email:  <%= form.email_field :email, placeholder: "you@somewhere.com", class: "sign_up" %>
    </p>
    <p>
      First Name:  <%= form.text_field :fname, placeholder: "First Name", class: "form" %>
      Last Name:  <%= form.text_field :lname, placeholder: "Last Name", class: "form" %>
    </p>
    <p>
      DOB:  <%= form.date_field :dob, placeholder: "DOB: MM/DD/YYYY", class: "form" %>
    </p>
    <p>
      <% if @profile.avatar? %>
        <%= image_tag @profile.avatar.url(:thumb) %>
      <% end %>
      <%= form.file_field :avatar, class: "form" %>
    </p>
    <p>A little about me:</p>
    <p>
      <%= form.text_area :about, placeholder: "About me", class: "form f_text_area" %>
    </p>
    <%= form.submit "Save", class: "save_f" %>
    <% end %>
    <%= link_to("Back", :back, class: "btm_links") %>
</div> <!-- /.blog-main -->
