<h1>Profile Show</h1>

<div class="all_divs">
  <p>Username: <%=@user.username %></p>
  <BR>
  <p>Password: **********</p>
  <BR>
    <p>Email:  <%=@profile.email %></p>
  <BR>
  <span>First Name:  <%=@profile.fname %></span>
  <span>Last Name:  <%=@profile.lname %></span>
  <BR>
  <p>Profie Picture:
    <% if @profile.avatar? %>
        <%= image_tag @profile.avatar.url(:thumb) %>
    <% end %>
  </p>
  <BR>
  <p>A little about me:</p>
  <p> <%= @profile.about %></p>
  <BR>
  <% if @current_user && @current_user.id == @profile.user_id %>
    <%= link_to("Edit", edit_profile_path, class: "btm_links") %>
  <% end %>
  <%= link_to("Back", :back, class: "btm_links") %>
</div>
