<%= form_tag "/sign_in", method: :post do %>
  <div class="LoginForm-input LoginForm-username">
    <%= label_tag(:username) %>
    <%= text_field_tag(:username, params[:username], class: "sign", data: {required: "required"}) %>
  </div>

  <div class="LoginForm-input LoginForm-password">
    <%= label_tag(:password) %>
    <%= password_field_tag(:password, params[:password], class: "sign", data: {required: "required"}) %>
  </div>

  <%= submit_tag "Go", class: "laySignBtn" %>
<% end %>
