<!-- User _Edit Form -->

<div class="modal-header">
  <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <%= form_for @user do |form| %>
    <% if @user.errors.full_messages.any? %>
    <ul>
      <% @user.errors.full_messages.each do |error_message| %>
      <li>
        <%= error_message %>
      </li>
      <br>
      <% end %>
    </ul>
    <% end %>
    <div class="form-group">
      Username:  <%= form.text_field :username, placeholder: "Username", class: "form-control sign_up" %>
    </div>
    <div class="form-group">
      Password  <%= form.password_field :password, placeholder: "Password", class: "form-control sign_up" %>
    </div>
    <div class="modal-footer">
      <%= form.submit "Save", class: "btn btn-primary" %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  <% end %>
</div>
