<%= form_for @user, url: {action: "create"}, html: {multipart: true} do |form| %>
  <% if @user.errors.full_messages.any? %>
  <ul>
    <% @user.errors.full_messages.each do |error_message| %>
    <li>
      <%= error_message %>
    </li>
    <br>
    <% end %>
  </ul>
  <% end %>
    <%= form.text_field :username, placeholder: "Username", class: "sign_up" %>
    <%= form.password_field :password, placeholder: "Password", class: "sign_up" %>
    <%= form.fields_for :profile, html: {multipart: true}  do |prof_f| %>
      <%= prof_f.email_field :email, placeholder: "you@somewhere.com", class: "sign_up" %>
      <%= prof_f.text_field :fname, placeholder: "First Name", class: "form" %>
      <%= prof_f.text_field :lname, placeholder: "Last Name", class: "form" %>
      <%= prof_f.date_field :dob, placeholder: "DOB: MM/DD/YYYY", class: "form" %>
      <%= prof_f.file_field :avatar, placeholder: "Your Pic", class: "form" %>
      <%= prof_f.text_area :about, placeholder: "About me", class: "form" %>
      <% end %>
    <%= form.submit "Save", id: "sign_up_btn" %>
