<div class="all_divs">
  <%= form_for @user, url: {action: "create"}, html: {multipart: true} do |form| %>
    <% if @user.errors.full_messages.any? %>
    <ul>
      <% @user.errors.full_messages.each do |error_message| %>
      <li>
        <%= error_message %>
      </li>
      <br>
      <% end %>
    </ul>
    <% end %>
    <p>
      Username:  <%= form.text_field :username, placeholder: "Username", class: "sign_up", readonly: "true"%>
    </p>
    <BR>
    <p>
      Password  <%= form.password_field :password, placeholder: "Password", class: "sign_up" %>
    </p>
      <%= form.submit "Save", class: "save_f" %>
  <% end %>
  <BR>
  <%= link_to("Back", :back, class: "btm_links") %>
</div>
