  <%= form_for @user, url: {action: "create"}, html: {multipart: true} do |form| %>
    <% if @profile.errors.full_messages.any? %>
    <ul>
      <% @profile.errors.full_messages.each do |error_message| %>
      <li>
        <%= error_message %>
      </li>
      <br>
      <% end %>
    </ul>
    <% end %>
    <%= form.text_field :username, placeholder: "Username", class: "sign_up" %>
    <%= form.password_field :password, placeholder: "Password", class: "sign_up" %>
    <%= form.submit "Save" %>
  </p>
  <% end %>
