<div class="all_divs">
<p>
  <span class="post_t">Title:</span>
  <%= @post.title %>
</p>
<p class="post">
  <%= @post.content %>
</p>
<p>
  <span class="post_span post_dt">Date:</span>
  <%= time_tag @post.created_at %>
</p>
<% if @current_user && @current_user.id == @post.user_id %>
  <%= link_to("Edit", edit_post_path(@post), class: ".btm_links", class: "btm_links") %>
  <%= link_to("Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: "btm_links") %>
<% end %>
<p>
<span class="post_t">Comments:</span>
</p>
<% @post.comments.each do |comment| %>
  <p class="post"><%= comment.content %></p>
  <% if @current_user && @current_user.id == comment.user_id %>
    <%= link_to("Delete", [comment.post, comment], method: :delete, data: { confirm: 'Delete comment?' }, class: "btm_links") %>
  <% end %>
  <BR>
<% end %>
<% if @current_user %>
  <span class="post_t">Add a Comment:</span>
  <%= render "comments/comment_form" %>
<% end %>
<BR>
<%= link_to("Back", :back, class: "btm_links") %>
</div>
