<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <%= link_to("Home", root_path, id: "logo", class: "navbar-brand nav-link") %>
  </li>
  <li class="nav-item">
    <%= link_to("My Post", posts_by_author_path(@current_user.id), method: :get, class: "nav-link lay_drop_lnks") %>
  </li>
  <li class="nav-item">
    <%= link_to("New Post", new_post_path, method: :get, class: "nav-link lay_drop_lnks") %>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
       <small>Logged in as</small> <span class="emphasize"><%= current_user.username %></span><span class="caret"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to("Profile", user_path(@current_user), method: :get, class: "dropdown-item lay_drop_lnks") %>
      <%= link_to("My Post", posts_by_author_path(@current_user.id), method: :get, class: "dropdown-item lay_drop_lnks") %>
      <%= link_to("New Post", new_post_path, method: :get, class: "dropdown-item lay_drop_lnks") %>
        <a class="sub-dropdown dropdown-item lay_drop_lnks dropdown-toggle" data-toggle="sub-dropdown" href="#" aria-haspopup="true" aria-expanded="false">
           <span>Change Password </span><span class="caret"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="signin-dialog-body dropdown-item lay_drop_lnks">
              <%= render "users/edit" %>
          </div>
        </div>
        <%= link_to("Delete Account", user_path(@current_user), method: :delete, data: {confirm: "Are you sure you want to delete account?"}, class: "dropdown-item lay_drop_lnks") %>
      <hr>
      <%= link_to("Sign Out", sign_out_path, method: :delete, class: "dropdown-item lay_drop_lnks laySignOut") %>
    </div>
  </li>
</ul>
