<!DOCTYPE html>
<html>
  <head>
    <title>MyRailsApp</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Lobster+Two" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header id="lay-nav" class="clearfix">
      <div class="container-fluid">
      <nav class="navbar navbar-expand-md fixed-top">
          <div id="lay_nav">
            <button class="navbar-toggler collapsed lay_drop_cnt" type="button" data-toggle="collapse" data-target="#lay-nav-menu" aria-controls="lay-nav-menu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <%= link_to("fishbowl", root_path, class: "navbar-brand lay_page_title") %>
          </div>
          <div id="lay-nav-menu"class="collapse navbar-collapse lay_drop_cnt">
             <ul class="nav navbar-nav">
              <% if @current_user.nil? %>
                <li>
                  <%= link_to("Sign Up", new_user_path, id: "lay_up", class: "layBtn") %>
                </li>
                <li>
                  <%= link_to("Sign In", sign_in_path, method: :get, class: "layBtn") %>
                </li>
              <% else %>
                <li>
                  <% @profile=Profile.where(user_id: @current_user).first %>
                </li>
                <li>
                  <div class="lay_drop_cnt">
                    <a id="lay_acct" class="layBtn" href="#">Account</a>
                    <div class="lay_drop_dwn">
                      <%= link_to("New Post", new_post_path, method: :get, class: "lay_drop_lnks") %>
                      <%= link_to("My Post", my_post_path(@current_user.id), method: :get, class: "lay_drop_lnks") %>
                      <%= link_to("Profile", user_path(@current_user), method: :get, class: "lay_drop_lnks") %>
                      <%= link_to("Change Password",edit_user_path(@current_user), method: :get, class: "lay_drop_lnks") %>
                      <%= link_to("Delete Account", user_path(@current_user), method: :delete, confirm: "Are you sure you want to delete account?", class: "lay_drop_lnks") %>
                      <%= link_to("Sign Out", sign_out_path, method: :delete, class: "lay_drop_lnks laySignOut") %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div><!--.contain-->
      </nav>
    </header>
      <!-- <% if flash[:notice] %>
      <div id="notice">
      <%= flash[:notice]%>
      </div>
      <% end %> -->
      <% if flash[:alert] %>
        <div id="alert">
          <%= flash[:alert]%>
        </div>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
      <footer>
      </footer>
    <!-- </div> -->
  </body>
</html>
