<!DOCTYPE html>
<html>
  <head>
    <title>FishBowl</title>
    <link rel="shortcut icon" href="<%=asset_path("favicon.ico")%>" type="image/x-icon">
    <%= csrf_meta_tags %>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Lobster+Two" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--  Icons -->
    <script src="https://use.fontawesome.com/144ed3a5c7.js"></script>
  </head>

  <body>

    <div id="lay-nav" class="fixed-top blog-masthead">
        <% if @current_user.nil? %>
          <%= render "layouts/navbar_no_session" %>
        <% else %>
          <%= render "layouts/navbar_session" %>
        <% end %>
    </div>

    <header class="<%= controller.controller_name %>-<%= controller.action_name %>-header">
      <% if flash[:notice] %>
        <div id="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div id="alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </header>

    <div class="sticky blog-header <%= controller.controller_name %>-no-blog-header">
      <div class="container">
        <h1 class="blog-title">Fishbowl</h1>
        <p class="lead blog-description">A little blog for a big world.</p>
      </div>
    </div>

    <div class="container <%= controller.controller_name %>-container <%= controller.controller_name %>-<%= controller.action_name %>-container">
      <div class="row">

        <% if controller.controller_name == "users" || controller.controller_name == "profiles" %>
          <%= render "layouts/profile_aside" %>
        <% end %>

        <%= yield %>
        <%= render "layouts/modals" %>

        <% if controller.controller_name == "home" || controller.controller_name == "posts" || controller.controller_name == "comments" %>
          <%= render "layouts/sidebar" %>
        <% end %>

      </div> <!-- /.row -->
    </div> <!-- /.container -->

    <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </body>
</html>
